{% extends "base.html" %}
{% block content %}


	<section id="wrapper">
		<header id="header">
			<a href="http://www.coffeestrap.com"><img class="smallImg" src="https://s3.amazonaws.com/webassets.coffeestrap.com/landing/images/logoBubble.png"></a>
		</header>

		<header id="header" class="paddingHeader">
			<h2>TEAM</h2>
		<p class="intro">CoffeeStrap is being crafted with love in wonderful Amsterdam by:</p>			
		</header>




		<div class="teamMember">
			<a href="https://www.linkedin.com/in/maheshcasiraghi"><img id="avatar" src="{% static '/images/mahesh.jpg' %}"/></a>
			<div id="nameWrapper">
				<h2 class="memberName">Mahesh Casiraghi</h2>
				<div id="sharing">
					<a class="twitter" href="http://www.twitter.com/maheshcasiraghi"><span class="icon-twitter-circled"></span></a>
					<a class="facebook" href="http://www.facebook.com/maheshcasiraghi" ><span class="icon-facebook-circled"></span>
					</a>
				</div> 
			</div>
			<div id="descriptionWrapper">
				<p class="memberDescription">Mahesh serves as CEO, he has a doctorate in Cognitive Neuroscience, and is a published expert of attention, emotion, brain, and human learning.</p>
			</div>
		</div>

		<div class="teamMember">
			<a href="https://www.linkedin.com/profile/view?id=192329849"><img id="avatar" src="{% static '/images/luca.jpg' %}"/></a>
			<div id="nameWrapper">
				<h2 class="memberName">Luca De Franceschi</h2>
				<div id="sharing">
					<a class="twitter" href="http://www.twitter.com/defra1991"><span class="icon-twitter-circled"></span></a>
					<a class="facebook" href="http://www.facebook.com/Defra91" ><span class="icon-facebook-circled"></span>
					</a>
				</div> 
			</div>
			<div id="descriptionWrapper">
				<p class="memberDescription">Luca serves as Lead Web Engineer, he is a BSc. Software Engineer with a predisposition for both frontend language scripting and growth hacking.</p>
			</div>
		</div>


		<div class="teamMember">
			<a href="https://www.linkedin.com/profile/view?id=87669146"><img id="avatar" src="{% static '/images/giacomo2.jpg' %}"/></a>
			<div id="nameWrapper">
				<h2 class="memberName">Giacomo Fornari</h2>
				<div id="sharing">
					<a class="twitter" href="http://www.twitter.com/fornarigiacomo"><span class="icon-twitter-circled"></span></a>
					<a class="facebook" href="http://www.facebook.com/fornarigiacomo" ><span class="icon-facebook-circled"></span>
					</a>
				</div> 
			</div>
			<div id="descriptionWrapper">
				<p class="memberDescription">Giacomo serves as Lead Realtime Engineer, he is a BSc. Software Engineer with passion for data streams, information retrieval, and voice/video information management.</p>
			</div>
		</div>	


		<div class="teamMember">
			<a href="https://www.linkedin.com/profile/view?id=339736472"><img id="avatar" src="{% static '/images/giacomo1.jpg' %}"/></a>
			<div id="nameWrapper">
				<h2 class="memberName">Giacomo Pinato</h2>
				<div id="sharing">
					<a class="twitter" href="http://www.twitter.com/giacomopinato"><span class="icon-twitter-circled"></span></a>
					<a class="facebook" href="http://www.facebook.com/profile.php?id=100005488906847" ><span class="icon-facebook-circled"></span>
					</a>
				</div> 
			</div>
			<div id="descriptionWrapper">
				<p class="memberDescription">Giacomo serves as Lead Android Engineer, he is a BSc. Software Engineer with peculiar sensitivity for client mobile architectures and interfaces.</p>
			</div>
		</div>


		<header id="header">
			<h2>ADVISORS</h2>
		</header>


		<div class="teamMember">
			<a href="https://www.linkedin.com/in/alessandromaccagnan"><img id="avatar" src="{% static '/images/alessandro.jpg' %}"/></a>
			<div id="nameWrapper">
				<h2 class="memberName">Alessandro Maccagnan</h2>
				<div id="sharing">
					<a class="twitter" href="http://www.twitter.com/alemhnan"><span class="icon-twitter-circled"></span></a>
					<a class="facebook" href="http://www.facebook.com/alemhnan" ><span class="icon-facebook-circled"></span>
					</a>
				</div> 
			</div>
			<div id="descriptionWrapper">
				<p class="memberDescription">Alessandro serves as technology advisor. He is a published expert of realtime architectures, computational semantics, and machine learning.</p>
			</div>
		</div>

		<div class="teamMember">
			<a href="https://www.linkedin.com/in/miloertola"><img id="avatar" src="{% static '/images/milo.jpg' %}"/></a>
			<div id="nameWrapper">
				<h2 class="memberName">Milo Ertola</h2>
				<div id="sharing">
					<a class="twitter" href="http://www.twitter.com/miloertola"><span class="icon-twitter-circled"></span></a>
					<a class="facebook" href="http://www.facebook.com/miloertola" ><span class="icon-facebook-circled"></span>
					</a>
				</div> 
			</div>
			<div id="descriptionWrapper">
				<p class="memberDescription">Milo serves as process management advisor. He counts on extensive experience in task critical process and interface management.</p>
			</div>
		</div>


		<div id="footerSharingWrapper">
			<div id="sharing" class="center">
				<a class="twitter" href="http://www.twitter.com/coffeestrap"><span class="icon-twitter-circled"></span></a>
				<a class="facebook" href="http://www.facebook.com/coffeestrap" ><span class="icon-facebook-circled"></span>
				</a>
			</div> 
		</div>



	</section>


{% endblock content %}
