{% extends "base.html" %}
{% block content %}
    <header class="header ">
        <a href="/index.html">
            <div class="logo">
                <!-- <span class="logoicon"></span> Human -->
                <img class="logoicon full" src="{% static '/images/sf_logo_small.png' %}">
                <img class="logoicon shrink" src="{% static '/images/sf_icon.png' %}">
            </div>
        </a>
        <a href="#" class="navigation-icon" id="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </a>
        <ul class="navigation" id="menu" >
            <li><a href="https://live.uxpin.com/eb5411df53cb1144d2321b3b6a367fb8675467a1#/pages/12410441">Wireframes</a></li>
            <li><a href="http://www.bunnyinc.com">Backend Code</a></li>
            <li><a href="/about">Frontend Code</a></li>
        </ul>
        
        <a id="loginsignup" rel="leanModal" name="investor_form" class="button outline" href="#investor_form">Documentation</a>
        
    </header>
    
    <section id="intro">
        <div class="headcopy">
            <div id="introPreSubmit">
                <h1>
                <span class="inline">#nowplaying in</span>
                <span class="inline" id="locationFillA">...</span>
                </h1>
                <p>
                    <span class="inline"> This page shows #nowplaying tweets in </span>
                    <span class="inline" id="locationFillB"> ... </span>
                    <span class="inline">that contain a youtube link.</span>
                    It also allows you to post a #nowplaying tweet with a YouTube link.
                </p>
            </div>
            <div id="introPostSubmit" style="display:none;">
                <h1>
                <span class="inline">Thank you for posting your video.</span>
                </h1>
                <p>
                    <span class="inline"> Bunny Inc. #NowPlaying is a groing community.</span>
                    <span class="inline"><a href="https://twitter.com/BInowplaying">Follow us on Twitter!</a></span>
                </p>
                <div>
                    <img src="/static/images/minibunny.png" />
                </div>
            </div>
            <form action="https://bunnybackend.herokuapp.com/post-tweet" method="GET" id="video-form" target="hidden_iframe_video" onsubmit="submitted=true;">
                <iframe name="hidden_iframe_video" id="hidden_iframe_video" style="display:none;" onload="if(submitted) { onVideoSubmitted(); }"></iframe>
                <div id="videoInputWrapper">
                    <span class="input input--hoshi">
                        <input type="url" required pattern="https?://www.youtube.com/.+" name="video" required="true" class="input__field input__field--hoshi" id="video" placeholder="                    http://youtube.com/" onfocus="this.placeholder = ''" onblur="this.placeholder = '                    http://youtube.com/'"/>
                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
                            <span class="input__label-content input__label-content--hoshi">Video URL</span>
                        </label>
                    </span>
                </div>
                <div id="commentInputWrapper">
                    <span class="input input--hoshi">
                        <input type="text" name="comment" required="true" class="input__field input__field--hoshi" id="comment" />
                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
                            <span class="input__label-content input__label-content--hoshi">Comment</span>
                        </label>
                    </span>
                </div>
                <input type="submit" name="submit" value="Tweet to #nowplaying" class="button investorsignup">
            </form>
        </div>
    </section>








    
    <section class="getactive">

            <div id="twitterFeed"></div>


    </section>
   

   
        
        <div id="investor_form">
            <div id="form-modal">
                <div id="form-header">
                    <a id="closeButton" href="#"></a>
                    <h3 id="signuptitle">But.. where are docs?</h3>
                    <h3 id="thankstitle" style="display:none;">Brilliant! </h3>
                    <p id="calltoaction" class="formcopy">This project is functional but not yet documented. I am going to comment code and produce a readme while flying back to Europe. It will be up hopefully up in a couple of days! :-) For urgent issues, feel free to leave your email here, and I am going to contact sooon.</p>
                    <p id="thanks" class="formcopy" style="display:none;">I am going to reach out asap with news.</p>
                </div>
                <form action="https://docs.google.com/forms/d/1ddXeT9u8WgBPs-7TauapzhsM1As1sutBYFznaqq5se8/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">
                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) { onEmailSubmitted(); }"></iframe>
                    <span class="input input--hoshi">
                        <input type="email" name="entry.1144083353" class="input__field input__field--hoshi" id="entry_1144083353" required="true" />
                        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
                            <span class="input__label-content input__label-content--hoshi">Email</span>
                        </label>
                    </span>
                    <input type="hidden" name="draftResponse" value="[,,&quot;-6729462436756438454&quot;]">
                    <input type="hidden" name="pageHistory" value="0">
                    <input type="hidden" name="fvv" value="0">
                    <input type="hidden" name="fbzx" value="-6729462436756438454">
                    <input type="submit" name="submit" value="submit" class="button investorsignup">
                    <div class="error-message" id="949681004_errorMessage"></div>
                </form>
            </div>
        </div>
        <div id="lean_overlay" style="display:none; opacity:0.5;"></div>
        
        <footer>
            <div class="contentwrapper">
                <div class="container">
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="#">Web</a></li>
                        <li><a href="#">Android</a></li>
                        <li><a href="#">iOS</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                    <ul class="social">
                        <li><a href="#"><img src="/static/images/footer-facebook.png" width="18" height="18"></a></li>
                        <li><a href="#"><img src="/static/images/footer-twitter.png" width="21" height="18"></a></li>
                        <li><a href="#"><img src="/static/images/footer-instagram.png" width="18" height="18"></a></li>
                    </ul>
                    <p>&copy; 2015 SeedFounder <a class="privacylink" href="/privacy">Privacy</a><a class="privacylink"href="/terms">Terms of Service</a></p>
                </div>
            </div>
        </footer>
    {% endblock content %}